@model bool

<div class="PopUpBack">
    <div id="popUpRegistrationToHike" class="PopUp">
        <img id="buttonClose" onclick="RegistrationToHikeClose()" src="~/Images/btnClose2.png" />
        <div id="RegistrationToHikeFormContainer">
            
            @if (!WebSecurity.IsAuthenticated || !Model)
            {
                <label>Имя</label>
                <input id="regToHikeFormFirstName"/><br />
                <label>Фамилия</label>
                <input id="regToHikeFormLastName"/><br />
                <label>Пол</label>
                <select id="regToHikeFormGender">
                    <option value="male">Мужской</option>
                    <option value="female">Женский</option>
                </select>
                <label>Дата рождения</label>
                <input id="regToHikeFormDate" /><br />
                <label>Телефон</label>
                <input id="regToHikeFormPhone"/><br />
            }
            <label>Выберите место в байдарках</label>    
            <div id="regToHikeFormKayaksPlacesContainer">
                
            </div>
            <img id="leftArrow" src="~/Images/left.png" class="regToHikeFormArrow" onclick="KayakContainerPrevKayak()" />
            <div id='kayakTitle'></div>
            <img id="rightArrow" src="~/Images/right.png" class="regToHikeFormArrowRight" onclick="KayakContainerNextKayak()" />
            <button id="btnRegToHike" class="button9" onclick="RegToHike()">Отправить</button>
        </div>
    </div>
</div>