@Styles.Render("~/Content/css/Ticket.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.jqGrid.min.js")
<script src="~/Scripts/Home/FillTicket.js"></script>
<img id="ticketFon" src="~/Content/images/ticketImage.png"/>
<div id="ticket">
    <div class="mainBorderTicket">        
        <div class="ticketInfo" id="firstTicketInfo">
            <b>Имя туриста:</b><br />
            <label id="TouristFullName"></label>
        </div>
        <div class="ticketInfo">
            <b>Имя руководителя:</b><br />
            <label id="HeadFullName"></label>
        </div>
        <div class="ticketInfo">
            <b>Дата начала:</b><br />
            <label id="DateStart"></label>
        </div>
        <div class="ticketInfo">
            <b>Дата конца:</b><br />
            <label id="DateEnd"></label>
        </div>
        <div class="ticketInfo">
            <b>Сложность:</b>
            <label id="Difficulty"></label>
        </div>
        <div class="ticketInfo">
            <b>Маршрут:</b><br />
            <label id="Path"></label>
        </div>
        <div class="ticketInfo">
            <b>Тип байдарок:</b><br />
            <label id="Kayak"></label>
        </div>
        <div class="ticketInfo">
            <b>Номер байдарки:</b><br />
            <label id="KayakNum"></label>
        </div>
        <div class="ticketInfo">
            <b>Место в байдарке:</b><br />
            <label id="PlaceNum"></label>
        </div>
    </div>
    <div class="ticketInfo">
        <button class="button9T" onclick="window.print()">Печать</button>
    </div>
</div>


