<div class="PopUpBack">
    <div id="popUpHikePhotos" class="PopUp">
        <div id="hikePhotosContainer">
            <img id="buttonClose" onclick="EditHikePhotosClose()" src='/../Content/images/close.png' />
            
            
            <div id="fullPhotosList" class="photosList">
                <label>Список доступных фото:</label>
                <div id="directoriesList">

                </div>
                <div id="allPhotos">

                </div>
            </div>
            
            <div id="hikePhotosList" class="photosList">
                
            </div>
            <div id="hikePhotosButtons">
                <button id="btnAddHikePhoto" class="button28" onclick="AddHikePhoto()">Добавить</button>
                <button class="button28" onclick="DeleteHikePhoto()">Удалить</button>
            </div>
        </div>
    </div>
</div>