@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.jqGrid.min.js")
<link rel="stylesheet" href="~/Content/css/HeadHikesReport.css">
<script src="~/Scripts/Admin/HeadHikesPrint.js"></script>

<div id="headHikes"></div>