#headHikes {
    margin-bottom: 10px;
    margin-right: 10px;
}

html {
    min-width: 1266px;
     -webkit-print-color-adjust: exact;
}

.headHikesReport {
    color: black;
    background-color: white;
    border: 1px solid gray; 
    width: 100%;
    margin: 0px;
}

.hikeHeader {
    font-weight: bold;
    font-size: 15px;
    background-color: #8fc8e9;
    border: 1px solid gray; 
    text-align: center;
}

.hikeHeader > td{
    text-align: center;
    border: 1px solid gray; 
}

.hike {
    border: 1px solid gray; 
}

.hike > td{
    border: 1px solid gray; 
    padding: 7px;
}

.tourists {
    font-weight: bold;
    font-size: 15px;
    background-color: white;
    border: 1px solid gray; 
}

.tourist > td{
    border: 1px solid gray; 
    padding: 7px;
}

.headerTourists {
    border: 1px solid gray; 
    font-weight: bold;
    font-size: 15px;
    background-color: #8fc8e9;
}

.headerTourists > td{
    text-align: center;
    border: 1px solid gray; 
}

#headsNames {
    margin-left: 0px;
}

.hikeResultHeader {
    font-weight: bold;
    font-size: 15px;
    background-color: #2e5790;
    border: 1px solid gray; 
    text-align: center;
}

.hikeResultHeader > td{
    text-align: center;
    border: 1px solid gray; 
}